# OpenAI Configuration
GEMINI_API_KEY=sk-proj-your-openai-api-key-here

# Qdrant Configuration
QDRANT_URL=https://your-qdrant-instance.cloud.qdrant.io:6333
QDRANT_API_KEY=your-qdrant-api-key-here
QDRANT_COLLECTION_NAME=ai_native_book

# Neon Postgres Configuration
DATABASE_URL=postgresql://username:password@your-neon-instance.aws.neon.tech/dbname?sslmode=require


# Application Settings
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:3000,https://bilalmk.github.io
